<div class="buy-prod">
    <h2>Thank you for your order!</h2>

    <p> You have sent your purchase request with your email. Expect us to contact you for confirmation.
    </p>

    <p>
        If you want to buy other products and send a new request, they will be added to your current order!

    </p>

    You can continue shopping here:
    <a class="logout" routerLink="/home">Home</a> Or: <a class="logout" routerLink="/cover" (click)="logoutHandler()">Logout</a>

    <h3> For a quick order you can contact us by phone:</h3>
    <p class="address">M.Phone: +359 881 654 876</p>

</div>