<div id="container">
    <div id="container-card">

        <div class="about-view">
            <p>Welcome to our specialized store for sporting goods - Sport Boutique! </p>
            <p>We are part of the intermediate marketing research company "DYSPM" which focuses on the most sought after and sold products in the industry. Our branch - "Sport Boutique" brings to your attention the most famous among those specialized in
                this direction - sports products! Our goal is to make you feel satisfied by saving time and money by choosing the best on the market. We all know that in our hectic daily lives, everyone just wants to click on a site and find in a matter
                of minutes what they are looking for, without wasting time in a long study, crawling hundreds of sites! Well, we've already done that for you! Here you can find selected according to your needs the best quality on the market for your sports
                needs.
            </p>
            <p>Enjoy shopping!</p>
            <p><span><a class="nav-link" routerLink="/home">Click Here</a></span>
            </p>
        </div>

    </div>
</div>