<div id="container">
    <div id="container-card">
        <div class="contact-card">
            <p>For contact with us, please use this address:</p>
        </div>
        <div class="contact-view">
            <p class="address">Bul. Carigradsko shose 45B</p>
            <p class="address">Str.Angel Vitanov</p>
            <p class="address">M.Phone: +359 654 876</p>
            <p class="address">For more information - visit
                <span><a class="nav-link" routerLink="/about">About Page</a></span>
            </p>
        </div>

    </div>
</div>