<div class="container">

    <!-- Default form register -->
    <!-- <form class="text-center border border-light p-5 rounded" action="#!" #form="ngForm" (submit)="onSubmit(form)" [class.loading]="loading"> -->
    <form class="text-center border border-light p-5 rounded">
        <p class="h4 mb-4">Register Form!</p>

        <div class="form-row mb-4" *ngIf="isSignUp">

        </div>
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>


            <!-- E-mail -->
            <input type="email" name="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" ngModel>
        </p>
        <!-- Password -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-envelope"></i></span></label>


            <!-- E-mail -->
            <input type="password" name="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" ngModel>
        </p>
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-envelope"></i></span></label>


            <!-- E-mail -->
            <input type="password" name="repassword" id="defaultRegisterFormRePassword" class="form-control mb-4" placeholder="Re-Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" ngModel>
        </p>

        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4" *ngIf="isSignUp">
          At least 8 characters and 1 digit
      </small> {{ error }}


        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">
       REGISTER
      </button>
        <span *ngIf="isSignUp">
        
          <a class="font-weight-bold" href="#" (click)="action = 'register'">
              Sign Up
              <i class="fas fa-sign-in-alt"></i>
          </a>
      </span>


        <div *ngIf="isSignUp">

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a>terms of service</a>

        </div>
        <p class="text-center">
            Have an account?
            <a routerLink="/user/login">Log In</a>
        </p>
    </form>
    <!-- Default form register -->

</div>