/*login  forms  */

fieldset {
    padding: 10%;
    color: transparent;
}

form.login {
    width: 40%;
    margin: 2em auto 0;
    text-align: center;
}

.login fieldset {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: #ffffff;
}

.login h2 {
    padding-top: 0;
    border-bottom: none;
    color: white
}

.login p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

input:not(.input-error) {
    border-left: 0.3em solid green;
}

.login input {
    flex: 0 1 100%;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.login select {
    border-color: black;
}

.login button {
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
}

.login i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

.login a {
    color: #007bff;
}

.login a:hover {
    cursor: pointer;
}

.login .field {
    display: flex;
    padding-bottom: 0;
}


/* errors  */

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}

.input-error {
    border-left: 0.3em solid red;
}

form.text-center.border.border-light.p-5.rounded {
    display: block;
    padding-left: 600px;
    padding-top: 120px;
    width: 500px;
}

a {
    color: white;
    display: block;
    width: 300px;
    height: 30px;
}

.mb-4 {
    color: white;
    width: 300px;
    height: 30px;
}

p {
    color: rgb(189, 30, 30);
    width: 300px;
    height: 30px;
}

.container {
    display: flex;
    padding-bottom: 130px;
}