<!-- <app-loader [isLoading]="isLoading"></app-loader> -->
<div class="container">

    <!-- Default form login -->
    <!-- <form class="text-center border border-light p-5 rounded" action="#!" #form="ngForm" (submit)="onSubmit(form)" [class.loading]="loading"> -->
    <form class="text-center border border-light p-5 rounded">
        <p class="h4 mb-4">Login Form!</p>

        <div class="form-row mb-4" *ngIf="isLogin">

        </div>
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>


            <!-- E-mail -->
            <input type="email" name="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" ngModel>
        </p>
        <!-- Password -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-envelope"></i></span></label>


            <!-- E-mail -->
            <input type="password" name="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" ngModel>
        </p>


        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4" *ngIf="isLogin">
                  At least 8 characters and 1 digit
              </small> {{ error }}


        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">
               LOGIN
              </button>
        <span *ngIf="isLogin">
                
                  <a class="font-weight-bold" href="#" (click)="action = 'register'">
                      Sign Up
                      <i class="fas fa-sign-in-alt"></i>
                  </a>
              </span>


        <div *ngIf="isLogin">

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a>terms of service</a>

        </div>
        <p class="text-center">
            Have no account?
            <a routerLink="/user/register">Register</a>
        </p>

        <!-- </fieldset> -->

    </form>
    <!-- </form> -->