<div class="container">

    <div class="shopProducts">

        <div class="list-articles">
            <h5 class="my-4">Our Articles and the best suggestion</h5>
            <a routerLink="/products/clothes" class="list-group-item">Clothes</a>
            <a routerLink="/products/shoes" class="list-group-item">Shoes</a>
            <a routerLink="/products/accessory" class="list-group-item">Accessory</a>
            <!-- <li class="nav-item" *ngIf="isLogged ">
                <a routerLink="/products/promotion" class="list-group-item">Promotion and secrets offers</a>
            </li> -->
            <a routerLink="/products/promotion" class="list-group-item">Promotion and secrets offers</a>
            <a routerLink="/products/create" class="list-group-item">Create Products</a>

        </div>
        <section class="core">
            <div class="image-bord">


                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="https://images.footlocker.com/content/dam/final/champs/site/homepage/20201130-hp-jordan-retro-1-hi-blk-gd-and-aj1-mid-gold-bk-launch-banner-m-1up.jpg" alt=" First slide ">



                </div>



            </div>
        </section>
    </div>



    <!-- <div class="menu ">

        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
                <div class="card-body ">
                    <a href="# "><img class="card-img-top " src="http://placehold.it/400x400 " alt=" "></a>

                    <h4 class="card-title ">
                        <a href="# ">Item Three</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
            <div class="card h-100 ">
                <a href="# "><img class="card-img-top " src="http://placehold.it/400x400 " alt=" "></a>
                <div class="card-body ">
                    <h4 class="card-title ">
                        <a href="# ">Item Three</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>

    </div> -->
    <router-outlet></router-outlet>
</div>